@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --muted-black: #697173;
}

#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    background: #213034;
    padding-top: 15px;
    color: #fcfbfa;
}

.sidebar-btn {
    display: block;
    width: 100%;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    background: #213034;
    border: none;
    text-align: justify;
    padding-left: 2rem;
}

.sidebar-btn:hover {
    background: linear-gradient(90deg, #d45c36 5%, #989895 5%);
    color: black;
    cursor: pointer;
}

#logo {
    border: #989895;
    width: 80%;
    margin-bottom: 10px;
}

#sidebar-icon {
    font-style: normal;
}

#content {
    margin-left: 250px;
    padding: 20px;
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#contact-content {
    display: block;
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
}

.modal-body-inside {
    width: auto;
}

.modal-title {
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

label {
    color: #595959;
    font-weight: 500;
}

#send {
    background-color: #ec764a;
    font-weight: bold;
    color: white;
    padding: 7px 20px;
    border-radius: 4px;
}

#Navbar-search {
    width: 250px;
    height: 30px;
    align-items: flex-end;
    padding: 8px;
    margin: 30px;
}

#btn-modal {
    background-color: transparent;
    color: #697173;
    border: 1px solid transparent;
}

#content {
    padding: 10px;
    background-color: #ffffff;
    color: #697173;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

#mail-content {
    display: flex;
    align-items: center;
}

#btn-modal {
    margin-right: -10px;
    color: #f8f8f8;
}

#btn-mail {
    background-color: #d45c36;
    border-radius: 50%;
    padding: 8px 12px;
}

#btn-mail:hover {
    background-color: white;
    color: #d45c36;
    border-radius: 50%;
    padding: 8px 12px;
}

#mail-content i {
    font-size: 1.5rem;

    margin-right: 10px;
    margin: 10px;
}

#mail-content img {
    width: 40px;
    height: 40px;
    border-radius: 40%;
}

#cancel {
    background-color: transparent;
    border-color: #595959;
    color: #2b2a2a;
    font-weight: bold;
    margin: 20px;
}

#Navbar-secound {
    margin: auto;
    border: 2px solid #e7e9ed;
    display: flex;
    margin-left: 240px;
    width: 100%;
    padding: 10px;
    margin-top: -20px;
}

#Navbar-secound>p {
    color: #697173;
    font-weight: bold;
    margin: 7px;
}

#Navbar-secound>h5 {
    color: #f68a1f;
    font-weight: bold;
    margin: 7px;
    padding-left: 10px;
}

#Inside-content {
    background-color: #f7f9fa;
    margin-left: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60%;
    padding: 20px;
}

#Inside-content-section-left {
    background-color: #ffffff;
}

#Inside-personal-infos {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    padding: 30px;
    font-size: 0.9rem;
}

#Inside-personal-id {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
}

#active {
    font-weight: bold;
    padding: 5px;
    background-color: #d2ecb9;
    color: #5fa929;
    margin-left: 10%;
}

#Inside-personal-info>div {
    margin: 10px;
    text-align: left;
    color: #697173;
    border: 2px solid #5fa929 transparent;
}

.Orange {
    color: #f68a1f;
    font-size: 12px;
}

#madilyn {
    margin-left: 5%;
    border: 2px solid transparent;
    padding: 10px;
    font-size: 20px;
    color: #01151a;
    font-weight: bold;
}

#stars {
    display: flex;
    flex-direction: row;
}

#stars>i {
    padding: 2px;
    color: #f68a1f;
}

#container-list {
    background-color: #ffffff;
    margin-left: 30px;
    padding: 0 10px;
    border: 1px solid #e7e9ed;
    border-radius: 3px;
    color: #697173;
}

#container-list>ul>li>a {
    color: #697173;
}

.smaller-font {
    font-size: 12px;
    /* Adjust the value as needed */
}

.nav-underline .nav-item.active .nav-link {
    border-bottom: 3px solid #f68a1f;
    font-weight: bold;
    color: #01151a;
    opacity: 1;
    text-align: left;
    font: normal normal medium 13px/35px Poppins;
}

text-muted-black {
    color: var(--muted-black);
}

#editor-container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 50px;
}

#editor-toolbar {
    display: flex;
    background-color: #f2f2f2;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#editor {
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    resize: vertical;
}

#editor-toolbar button {
    margin-right: 5px;
    cursor: pointer;
    outine: none;
    border: transparent;
}

#drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#file-input {
    display: none;
}

#file-icon {
    font-size: 36px;
    margin-bottom: 10px;
}